[2016-09-08 13:59] cakeinpanic opened #2 "Add new option"
I'd like to have ability to provide my own pattern of output.
For example:
`%name%@%version% type: %license%` url: %url%

[2016-09-12 02:39] xz64 commented on #2
I'd be willing to review a pull request for a change that uses [ejs](http://www.embeddedjs.com/) templates to generate the output file.

[2016-10-15 13:59] 0xs opened #3 "Does not work on Windows"
This plugin interprets every .js and .ts file path which is outside of the node_modules directory as a module called `C:` on Windows and crashes with an error:

The problem seems to be in the `findPackageName` function. What I don't understand is that why does it consider files outside of the node_modules directory in the first place?

[2016-10-15 14:10] 0xs opened #4 "Suppressing no license file error messages"
It would be a nice if it was possible to suppress "no license file" errors because for example many of the Angular 2 packages do not have a license file.

[2016-10-15 14:23] 0xs opened #5 "Support for old package.json license structure"
I know that according to the current package.json format specification the license info should always be a string. Unfortunately many packages still use the old notation of `license.type` shown [here](https://docs.npmjs.com/files/package.json#license). Since I should show these licenses too it would be great if there was support for listing them too.

[2016-10-15 15:46] xz64 commented on #3
Do you have a sample repository I can debug this with? If not I can create a sample project but it may take more time.

[2016-10-15 23:26] 0xs commented on #3
I set up a minimal example project [here](https://github.com/0xs/license-webpack-plugin-debug). It is a frankenstein mashup of the Angular 2 quickstart example project and an actual stripped down webpack production configuration I use in a real project.

[2016-10-19 02:22] xz64 commented on #3
I was getting this error on Windows 10: `EntryModuleNotFoundError: Entry module not found: Error: Can't resolve 'ts' in 'C:\Users\Me\git\license-webpack-plugin-debug'`

It appears to be a problem with your module resolution in webpack, as I have turned off the LicenseWebpackPlugin in your sample repo and still got the error.

In NodeJS, if a module cannot be resolved, it will keep searching the pa

[2016-10-19 07:36] 0xs commented on #3
Sorry about that. It seems that `ts-loader` was missing from `package.json` and it's been included now. I tested it this time by removing the node_modules directory so it should work if LicenseWebpackPlugin is commented out and otherwise fail the right way.

[2016-10-22 17:38] #3 closed

[2016-10-22 17:48] xz64 commented on #3
Try version 0.2.1 and let me know if it works. Looks like I was not ignoring files coming outside of node_modules.

[2016-10-22 18:00] xz64 commented on #4
Addressed in commit e0648078b3bb4f7cc52d0757286d27b10ae271bf & published to npm (v0.3.0)

[2016-10-22 18:00] #4 closed

[2016-10-22 18:09] xz64 commented on #5
I have pushed a change to the dev branch but haven't tested it. Please try the dev branch and see if that works out for you.

[2016-11-06 19:19] grauwoelfchen commented on #5
Hi,

Thank you for nice tool. I like it!
I tried your **dev** branch. But I think that this line also should be changed for `moduleInfo.license`.

https://github.com/xz64/license-webpack-plugin/blob/a7607656420c69a23198eb8323b0d054865bbfda/index.js#L52

So, I've just tried to extract `license` before this pattern matching, and updated to support following old 2 styles.

[code]

\# Array but it con

[2016-11-07 00:09] xz64 commented on #5
Thanks @grauwoelfchen . I've incorporated your patch and force pushed a new change to dev branch. Caching the license would be ideal, but it should be OK to not cache it for now. Please check out the dev branch and let me know if you have any other thoughts.

[2016-11-07 05:37] grauwoelfchen commented on #5
Thank you @xz64 for quick response . You've also added improvements and tests :)
I will try dev branch!

If this plugin could support user to choose a license from packages which have muliple licenses in this old style licenses in `package.json`, it would be perfect to me!

[2016-11-17 12:43] RafaelKeramidas opened #7 "Tests are error'ing"
Hi,

I cloned the project and tried to run the tests but I hit an error:
[code]

I ran the following command: `npm install && npm run test`

I'm on Windows 7 x64 using NodeJS 6.9.1 and NPM 3.8.6.

Unfortunately I'm too busy to look into it myself, otherwise I would try to fix it and do a PR :-)

Cheers,
Raf

[2016-11-20 02:51] xz64 commented on #5
@grauwoelfchen I have pushed a change to the dev branch which allows you to use a `licenseTypeOverrides` option. You can check the README to see how to use it. Please let me know if this works out for you.

[2016-11-21 03:58] xz64 commented on #7
@RafaelKeramidas I've pushed a change to the dev branch for this. Try it out and let me know how it goes. Thanks.

[2016-11-22 18:49] grauwoelfchen commented on #5
@xz64 Thank you su much! `licenseTypeOverrides` and `licenseTypeCache` look very nice :) I will try it.

[2016-11-22 20:33] RafaelKeramidas commented on #7
Thanks for the fix @xz64 ! Tested & working (all tests passing) on the dev branch.

Cheers,
Raf

[2016-11-22 20:33] #7 closed

[2016-11-23 05:15] #5 closed

[2016-11-23 05:16] xz64 commented on #5
Published this feature in v0.4.0.

[2016-11-23 05:17] xz64 commented on #7
Fix published in v0.4.0

[2016-11-24 14:16] grauwoelfchen commented on #5
:tada:

[2016-12-18 16:40] yrtimiD opened #8 "Unexpected error on empty pattern"
When patter isn't passed into constructor, plugin tries to report an error:
`245 this.errors.push(plugin.errorMessages['no-pattern']);`
but, at this point this.errors isn't assigned yet, and will be created only at
`248 objectAssign(this, composedPlugin, instance(), opts);`

as result, not very clear error is shown:
[code]

[2016-12-18 23:40] #8 closed

[2016-12-18 23:42] xz64 commented on #8
Thanks, fixed in 0.4.1

[2017-01-16 10:19] k-sheth opened #9 "Problems when running with webpack-dev-server"
Hi

Thanks for this plugin. I get an error when running with webpack-dev-server

Here are my dependencies,

webpack: 2.2.0-rc.6
webpack-dev-server: 2.2.0-rc.0
license-webpack-plugin: latest

plugin options -
                new LicensesPlugin({
                    //filename: 'licenses.txt',
                    pattern: /^(.*)$/,
                    includeUndefined: true,
                    addL

[2017-01-19 04:28] #9 closed

[2017-01-19 04:28] xz64 commented on #9
Hi, are you using clean-webpack-plugin by any chance? I was able to reproduce this issue on one of my projects using webpack 2.2.0. The license-webpack-plugin will try to write to your build output directory, after it has been deleted by clean-webpack-plugin, causing this error.

Since webpack-dev-server serves files from memory, the output directory doesn't get created on the file system.

Fixed

[2017-01-23 09:33] k-sheth commented on #9
Apologies for the delayed reply. No, I do not use the clean-webpack-plugin.

[2017-01-23 17:19] xz64 commented on #9
Let me know if you are still getting the error using license-webpack-plugin v0.4.2 and provide a minimal setup replicating the issue if so.

[2017-01-24 02:51] k-sheth commented on #9
Works now. Thanks for the quick update!

[2017-03-03 18:49] sumitarora opened #10 "Fails on having `js` module in `package.json`"
When having a module as below fails the plugin when trying to locate `package.json`
[code]

[2017-03-04 03:08] xz64 commented on #10
Can you show me a stack trace and provide an example repo to test on? Thanks.

[2017-03-06 16:16] sumitarora commented on #10
@xz64 Here is the repo to test on https://github.com/sumitarora/angular2-webpack after doing `npm install` just run `npm build` and you should see error. Below is the stack trace of the same.
[code]

[2017-03-08 16:13] sumitarora commented on #10
@xz64 Any update on this?

[2017-03-10 14:12] xz64 commented on #10
I'll take a look this weekend

[2017-03-12 00:55] xz64 commented on #10
I see the problem now. The plugin is not detecting scoped packages properly which contain '@' twice. For example, the plugin determines for the module name for the file `node_modules/@angular/platform-browser/@angular/platform-browser.es5.js` is `@angular/platform-browser/@angular/platform-browser.es5.js` instead of `@angular/platform-browser`. I will push a fix for this.

[2017-03-12 00:57] #10 closed

[2017-07-05 21:35] xz64 opened #12 "packages don't get detected if webpack context is outside of project root"
Currently the plugin relies on appending 'node_modules' to compiler.context from webpack to find the path to node_modules. This works if the webpack config is located in your project root. However if the webpack config is located in node_modules or some other directory, it won't pick up the packages.

[2017-07-05 22:19] #12 closed

[2017-07-31 16:29] rhys-e opened #13 "Produce license file for each entry point/bundle"
I'd like to be able to produce a license manifest for each entry point/bundle processed by webpack and output the file alongside the bundle ${filename}.

It'd also be really useful to be able to add a comment to the top of the given bundle pointing towards the generated license manifest for that bundle (without having to rely on other plugins to do this).

Looking at the plugins options I don't se

[2017-08-02 09:25] filipesilva opened #14 "Output path not being created recursively"
Heya,

If the webpack configuration has a deep output path that doesn't currently exist, `license-webpack-plugin` will fail at `mkdirSync` (https://github.com/angular/angular-cli/issues/7203).

Webpack itself is ok with creating this path and putting files there though. Perhaps `compilation.assets` could be used instead of `mkdirSync`? There's an example at https://github.com/webpack/docs/wiki/how

[2017-08-02 13:21] xz64 commented on #14
In order to get access to the `compilation` object I will need to refactor the plugin to hook into the `emit` phase of webpack. I will try out your suggestion.

[2017-08-02 13:21] xz64 commented on #13
I will take care of this in #14 as #14 has a dependency on producing license files this way.

[2017-08-04 22:20] WorldMaker opened #16 "Add a string or json module"
I'd like to add the 3rd Party License information directly into a Help or About page, so that the information is viewable within the app itself.

It would be great if this plugin (or one like it) could add a module to the webpack build returning the text as a string or maybe a more structured JSON file broken down by library name or similar to allow for even better user experience options (table o

[2017-08-06 23:05] xz64 commented on #2
@cakeinpanic  Check out the dev branch. You can use ejs templates to configure the output.

[2017-08-06 23:06] xz64 commented on #13
@rhys-e  I have implemented this functionality in the dev branch. Please try it out and let me know if you have any questions.

[2017-08-06 23:13] xz64 commented on #14
@filipesilva  I have pushed some updates to the dev branch. Please try it out and let me know if you run into any issues. There is a migration guide at MIGRATION.md for some breaking changes.

[2017-08-06 23:14] xz64 commented on #16
@WorldMaker  I have made some changes in the dev branch to allow custom rendering via ejs template, so you can format the packages any way you like. Please try it out and let me know if you run into any issues.

[2017-08-07 14:16] rhys-e commented on #13
@xz64 Thanks - I've tried it out and it's working nicely except for two issues I'm noticing:

1.  Something's going wrong with the character encoding, e.g. double quotations are coming out in the license file as the string of the ASCII character (" => `&#34;`)

2. I've got 3 entry points in my webpack config. This results in 3 license files as expected however, only two license files contain the a

[2017-08-07 16:05] WorldMaker commented on #16
Using an ejs template looks like a step in the right direction. I think I'd still like some way to add it as a module or chunk directly inside the pack rather than a separate file/asset. Right now the easiest way I can see to pull in the txt file into my SPA app would be an `<iframe>` tag, but what I really would like is a way to `import licenses from 'licenses'` and use that in my application.

[2017-08-07 17:16] filipesilva commented on #13
Heya @xz64, is it still possible to produce a single licenses file, or does it have to be one license file for each bundle?

[2017-08-08 02:26] xz64 commented on #13
@rhys-e  I pushed a fix for the character encoding issue. Does your third entry reference any modules (via import/require statements) from node_modules?

Bundling the license of the project itself can be done with file-loader (basically copies your license file to your build output), but it will output the license to a separate file. I will consider adding an option to output first party license t

[2017-08-08 02:39] xz64 commented on #16
@WorldMaker  The tricky thing here is that there is no 'licenses' file to import at compile-time in webpack. The file gets generated after your modules are compiled. I think going XMLHttpRequest is the right way to  go here.

[2017-08-08 11:44] rhys-e commented on #13
@xz64 re: 3rd module - it does reference other things from node_modules

[2017-08-08 13:03] xz64 commented on #13
@rhys-e  Can you share the webpack stats for your build? (If you are not sure how to generate the stats, please refer here: https://webpack.js.org/api/stats/ )

[2017-08-08 13:45] rhys-e commented on #13
@xz64 quick note - If I do nothing in my code except import jquery then I get just the jquery license in the output, whereas if I import bowser I get both bowser's license and webpack's license. Both outputted bundles include the webpack bootstrapper as you'd expect.

Is adding the webpack license handled in some special way by the plugin? (since no-one has an import on webpack per se).

(My 3rd m

[2017-08-08 14:14] WorldMaker commented on #16
I suppose I don't know the webpack model well enough to know how "late" you can add a module or if there are tricks something like add an empty module early and then "fill" it with a chunk at the end. XHR is fine for now.

[2017-08-09 02:20] #16 closed

[2017-08-09 03:30] xz64 commented on #13
@rhys-e  I see now. I had misunderstood the issue. You are expecting the license for webpack itself to be included since webpack inserts its own module loading code into your bundle. I checked out the bowser package. It looks like bowser is using a UMD build which is causing webpack's amd "define" function stub ( node_modules/webpack/buildin/amd-define.js ) to be loaded.

The plugin has no special

[2017-08-09 13:10] filipesilva commented on #14
Hi @xz64, I can confirm that using the dev branch this bug does not manifest anymore.

[2017-08-09 13:10] #14 closed

[2017-08-09 13:20] filipesilva commented on #13
@xz64 I had a go at this change and wanted to mention it makes empty files for bundles with no licenses. I added a PR to fix that https://github.com/xz64/license-webpack-plugin/pull/17.

[2017-08-09 14:51] rhys-e commented on #13
@xz64 I suspected it might be something along those lines. I would say though that in all cases webpack does leave a bit of code in the outputted bundle (the webpack bootstrap) which would be the case for including its license I guess.

[2017-08-10 03:20] xz64 commented on #13
@rhys-e  I have made a change in the dev branch which allows you to force certain packages to be in the output. Please try it out and let me know how it goes.

[2017-08-12 05:28] xz64 commented on #13
Producing license file per chunk is is the default behavior in v1 now. (published now)

[2017-08-12 05:28] #13 closed

[2017-08-12 05:29] xz64 commented on #2
I just published v1, which as the option of customizing the output via ejs template.

[2017-08-12 05:29] #2 closed

[2017-08-12 16:10] rhys-e commented on #13
Tried out the additionalPackages flag, works fine :+1:

[2017-09-12 14:42] darkbasic opened #18 "LicenseWebpackPlugin is incompatible with meteor-client-bundler"
`angular-cli` uses `LicenseWebpackPlugin` when building for production:
[code]

Unfortunately this causes the following error when using [meteor-client-bundler](https://github.com/Urigo/meteor-client-bundler/):
[code]

Commenting out `import 'meteor-client';` from `src/main.ts` solves the building issue, but obviously the app will not work.

You can easily reproduce the issue checking out my [angu

[2017-09-13 02:23] xz64 commented on #18
I am getting this error when I try to build the repository you linked to:

[code]

It looks like meteor-client is not found in node_modules. Can you explain how the import to meteor-client gets resolved?

[2017-09-13 09:05] darkbasic commented on #18
I'm sorry, I forgot to explain that part.
First you will have to install Meteor:
[code]
Then `meteor-client-bundler`:
[code]
Finally, inside the project folder, you will have to generate the meteor-client bundle:
[code]
Now you should be able to run the project with `npm run start` or `npm run build`.

[2017-09-14 03:24] xz64 commented on #18
@darkbasic  I made a change to fix this issue. Try out the dev branch and let me know if it working fine you. You can run `npm install`, `npm run build` followed by `npm pack` to generate a .tgz file which you can then install in your app via `npm install  ../path/to/license-webpack-plugin-1.0.0.tgz`

[2017-09-14 09:44] darkbasic commented on #18
Works flawlessly, thanks. Can you please tag a new version and release it on npm?

[2017-09-14 09:44] #18 closed

[2017-09-14 12:40] xz64 commented on #18
Published in 1.0.1

[2017-09-14 13:21] darkbasic commented on #18
Thank you so much.

[2017-09-27 14:42] michael42 opened #19 "Some licenses missing when using @angular/cli"
Hi there,

we're using the Angular CLI, which builds a `3rdpartylicenses.txt` by default using license-webpack-plugin.

However, the licenses of some dependencies are missing in the output. I uploaded a rather minimal [Angular CLI-based reproduction repository](https://github.com/michael42/license-webpack-plugin-some-licenses-missing). In its `build/3rdpartylicenses.txt`, there is no entry for `@n

[2017-09-30 04:47] #19 closed

[2017-09-30 04:48] xz64 commented on #19
@michael42  Thanks for the analysis. I have pushed a fix in version 1.0.2

[2017-10-03 13:27] ln-e opened #20 "Mixed line endings"
For example webpack itself have CRLF windows line endings in license file. While other packages have unix-like LF line endigns.
So generated 3rdpartylicenses.txt have a mixed line endings.

Such files conflict with git's autocrlf option for example.

[2017-10-03 13:31] xz64 commented on #20
3rdpartylicenses.txt is a generated file, so normally it wouldn't be committed (it would be ignored via .gitignore instead) in git. Can you explain why you would want to commit this file into a git repository?

[2017-10-03 15:59] ln-e commented on #20
In our case, we commited the build in the repository. Please, do not ask why, there is a rather complicated deployment =)

Nevertheless commit we build files or not, it does not seem to me that generating a file with mixed line endings is exactly how it was designed.

[2017-10-04 03:22] #20 closed

[2017-10-04 03:24] xz64 commented on #20
Fixed in version 1.2.0

[2018-01-24 20:02] gregorym opened #22 "module directory should be an option"
We should be able to override the moduleDirectory (Default to node_modules). It is possible to have node modules installed elsewhere than in node_modules.

[2018-01-28 17:13] xz64 commented on #22
I will need to make some assumptions to implement this:
1. node_modules will exist
2. devDependencies will be stored in node_modules

Let me know if these assumptions hold for your project.

[2018-01-28 17:42] gregorym commented on #22
I am working on a PR. I'll send it later this week.

[2018-01-29 23:59] gregorym commented on #22
After looking at your code I would need to do the following:
- moduleDirectory needs to be a plugin option that would default to `node_modules`
- buildRoot needs to be a plugin option as well.  Defaults to `findBuildRoot` when undefined

[2018-01-30 04:21] xz64 commented on #22
Sounds good

[2018-02-19 13:37] jojastahl opened #24 "not reporting all module licenses"
Hello,
I created a new angular project with ng new lic-test.
I copied the following list of dependencies into package.json:
[code]
Then I did npm install, ng build --prod
The resulting 3rdpartylicenses.txt only contains the modules

- `core-js@2.5.3`
- `webpack@3.10.0`
- `zone.js@0.8.20`
- `@angular/core@5.2.5`  (without license text)

Why for example `@auth0/angular-jwt` is missing? It's MIT, it

[2018-02-20 00:39] xz64 commented on #24
The plugin doesn't check package.json. Instead it looks at the webpack output and reports licenses for packages which were imported by your source code. Are you still seeing any issue after importing a package in your source code and using the package?

[2018-02-20 08:08] jojastahl commented on #24
In my real project, I'm using the `@auth0/angular-jwt` package for sure, but it doesn't show in the 3rdpartylicenses.txt.
In order to test in the simplified test case above, I modified the generated app.component.ts to import and use a function out of it as follows:
[code]
But still, the package isn't mentioned in 3rdpartylicenses.txt.
I checked the geneated main bundle and searched for decodeToke

[2018-02-24 15:53] #24 closed

[2018-02-24 15:55] xz64 commented on #24
Fixed in version 1.1.2

Thanks for the bug report!

[2018-02-24 17:56] xz64 commented on #22
@gregorym  I have implemented this on the dev branch. Can you try it out on your project and let me know if it works out for you?

Steps to install:
1. Clone this repo
2. checkout the dev branch
3. run `npm install && npm run build && npm pack`
4. In your project directory, run `npm install /path/to/license-webpack-plugin-1.1.2.tgz` file

[2018-02-24 18:43] gregorym commented on #22
Thanks @xz64. I will try next week :)

[2018-03-01 11:47] ScorpAL opened #25 "License from LICENSE file"
Example:

**package.json** of (just as example) node_modules/can-ajax have no any key with license.
But node_modules/can-ajax have files LICENSE and README.md:

file **LICENSE**
[code]

README.md
[code]

My config is:

[code]

as result I have **Unknown license** on output.

Why?

[2018-03-01 16:11] mtraynham opened #26 "Webpack 4 - DeprecationWarning: Chunk.forEachModule"
Webpack 4 is complaining of a deprecation warning:

[code]

I believe it relates to [this particular line](https://github.com/xz64/license-webpack-plugin/blob/master/src/LicenseWebpackPlugin.ts#L128).  Hopefully I can get around to a PR for this.

[2018-03-03 22:52] xz64 commented on #22
@gregorym  Did you get a chance to test it out?

[2018-03-03 23:07] xz64 commented on #25
The `can-ajax` package is missing a "license" field in its package.json which is why the plugin isn't producing any output for this package.

Because the plugin filters packages by a license identifier regex, it must know the type of license for a project before it can extract the license text.

The plugin supports a `licenseTypeOverrides` option to handle these scenarios.

Example:
[code]

I need

[2018-03-03 23:24] xz64 opened #27 "fix Tapable.plugin deprecation warning in webpack 4.x"
[code]

[2018-03-04 00:08] #22 closed

[2018-03-04 00:10] xz64 commented on #25
I've added some documentation to v1.2.0 which clarifies this feature. Let me know if you have any questions

[2018-03-04 00:10] #25 closed

[2018-03-04 00:10] xz64 commented on #26
Fixed in v1.2.0

[2018-03-04 00:10] xz64 commented on #27
Fixed in v1.2.0

[2018-03-04 00:11] xz64 commented on #22
Added feature in v1.2.0

Let me know if you run into any issues.

[2018-03-04 00:34] xz64 commented on #27
Initial fix for this broke consumers using webpack v3. Will need to spend more time seeing what went wrong.

[2018-03-04 00:40] xz64 commented on #27
Actually the fix for #26 was causing this. Closing this one and reopening the other.

[2018-03-04 00:40] #27 closed

[2018-03-04 00:40] xz64 commented on #26
Initial fix for this was causing issues. (It is reverted now) I need to look into this more. I suspect it has something to do with typescript transpilation.

[2018-03-04 01:01] #26 closed

[2018-03-04 01:03] xz64 commented on #26
Fixed in v1.2.3.

Needed to turn on `"downlevelIteration": true` in tsconfig.json

[2018-03-07 19:41] ktalebian opened #28 "How to preppend license to the bundled file?"
I'm trying to have the license text pre-pended to the the bundled file, and not as a separate file. How can this be achieved?

[2018-03-08 04:05] xz64 commented on #28
Currently this is not possible. I can take a look at implementing this some time though

[2018-03-09 16:26] agentschmitt opened #29 "How to whitelist license or package"
I want to fail my build when package with GPL license only is found. This works with the config below.
But i have one package "normalize-scss" with license "MIT or GPL-2.0".

Could we have a overridePattern that explicit allows licenses. (eg. overridepattern /MIT/).

Or maybe allow a function for accept license checks which could replace regex option, this would allow custom code for special use c

[2018-03-10 18:45] xz64 commented on #29
I like the function idea. I'll see what I can do

[2018-03-10 20:02] #28 closed

[2018-03-10 20:03] xz64 commented on #28
added this feature in v1.3.0

add `<%- licenseInfo %>` in the bannerTemplate to use it

[2018-03-16 08:28] SeanHayes opened #30 "addBanner: true breaks source maps when using UglifyJsPlugin"
If `addBanner: false`, or if I skip uglifying, the source map is fine, but if I do both, the source map breaks. Any idea how to fix this? Do you think this is a bug in this package or in UglifyJsPlugin?

[2018-03-18 19:11] xz64 commented on #30
Sounds like a bug in this package. This plugin inserts a hook right before webpack outputs the file. I took a look at the BannerPlugin which comes with webpack, and it appears that plugin inserts a hook at a different phase https://github.com/webpack/webpack/blob/5238159d211576bb313d99d487e415f3799af795/lib/BannerPlugin.js#L50

I'll see what I can change the phase the plugin uses

[2018-04-25 13:03] xz64 commented on #30
Hey just wanted to give you an update: I am planning on releasing a new major version which will fix the issue

[2018-04-25 13:04] xz64 commented on #29
Hey just wanted to give you an update: I am planning on releasing a new major version which will support this feature

[2018-05-04 03:50] SeanHayes opened #32 "On webpack4, outputTemplate is broken"
In output.template.ejs, sometimes packages[i] is undefined, I had to change to:

[code]

But then there's several blank rows.

[2018-05-05 16:33] xz64 commented on #32
Do you have any example repo I can test this out on?

[2018-05-13 21:18] mwaldstein opened #34 "Feature Request: Use compiler.outputFileSystem"
While less common, I was in a scenario where I wanted to run a development server using a production configuration using webpack-dev-middleware. While native webpack outputs went into its MemoryFS, license-webpack-plugin still wrote to the native filesystem.

This is a low priority, but it would be nice if the compiler's outputFileSystem were used for writing if set in the compiler object.

While

[2018-05-24 02:45] xz64 commented on #34
This should be doable in the next major release which I am working on.

[2018-05-24 11:06] zefj commented on #30
@xz64 any ETA on this?

[2018-06-01 14:52] mwaldstein commented on #34
Just a heads up - the prerender-spa webpack plugin recently made this change as well.

Their commit for reference: https://github.com/chrisvfritz/prerender-spa-plugin/commit/dcdc518f39aa3f70a65762e87129b856a2416055

[2018-06-01 21:18] johannao76 opened #35 "Tests failing on windows in a fresh fork"
I forked the repo just now and getting an error when running npm test. I am using node 8.9.4. Full test run output below:
![image](https://user-images.githubusercontent.com/11838969/40864026-eed89a16-65a6-11e8-866c-dac7954ed0c9.png)

[2018-06-02 01:40] xz64 commented on #35
From the screenshot it appears you might be on Windows.

Unit tests don't run properly on Windows. I had tried to make it work but ran into some issue with mock-fs : https://github.com/tschaub/mock-fs/issues/201

Next major release (you can try it out by installing license-webpack-plugin@next) should be able to run on windows but I haven't tested it.

[2018-06-04 22:37] johannao76 opened #37 "Need ability to customize output folder"
Tried setting outputFilename to a full path, but this causes the plugin to hang on windows. Is there a workaround for this or a fix coming?

[2018-06-05 03:43] xz64 commented on #37
outputFilename is tightly integrated with webpack. The plugin does something like  `compilation.assets[outputFilename] = ` to generate an additional asset for the licenses in the webpack build. The actual file is written by webpack and not the plugin. I am not sure if webpack provides any way to add assets with absolute paths to the build, but it seems like it would be against the webpack philosop

[2018-06-05 22:02] johannao76 commented on #37
Yes, I ended up copying the file after the build.

[2018-06-05 22:02] johannao76 commented on #35
I will try to get to it this weekend.

[2018-06-10 15:57] #37 closed

[2018-06-11 08:55] jeremejevs opened #38 "2.0.0-alpha.3 marked as latest"
Please, change it back to `1.x.x`, until v2 is stable, just in case.

[2018-06-11 13:12] xz64 commented on #38
Thanks for bringing this up. This is fixed now.

[code]

[2018-06-11 13:12] #38 closed

[2018-06-11 13:56] jeremejevs commented on #38
Thanks!

[2018-06-17 00:31] johannao76 commented on #35
I checked out the dev branch but I am unable to build at all:
![image](https://user-images.githubusercontent.com/11838969/41503500-07813600-718b-11e8-9f0e-4cf00a3ae4cd.png)

Is

[2018-06-21 01:05] johannao76 opened #39 "Type definition files getting picked up by the plugin"
I am having an issue where I am importing a third party package which has a type definition file as a regular dependency (@types/graphql), and the plugin is returning this package even though this does not really seem to be used by our bundle. I checked the generated webpack stats json and this module is not referenced there at all. Is there a bug in the plugin? Should we exclude *.d.ts files from

[2018-06-21 19:28] johannao76 opened #40 "Test files getting picked up by the plugin"
We are having another issue where if we run the plugin on a dev build with karma enabled, "object-assign" gets added to the license output, even though this is a dev dependency and should be ignored (?). Output of *yarn why*:

#object-assign"
=> Found "socket.io#object-assign@4.1.0"
info This module exists because "karma#socket.io" depends on it.
=> Found "gulp-util#object-assign@3.0.0"
info This

[2018-06-21 20:50] bluthen opened #41 "Option to still output license of Unknown Licenses"
I was thinking there should be an option to still output the output of the license file if it is unknown.

In LicenseExtractor.js:getLicenseText():
[code]

Can be something like:
[code]

[2018-06-25 03:17] xz64 commented on #41
The alpha version has this feature already. Can you please try it out?  It is published as `license-webpack-plugin@next` . Documentation can be found here: https://github.com/xz64/license-webpack-plugin/tree/dev

Specifially, the `handleMissingLicenseText` option handles this scenario

[2018-06-25 03:18] xz64 commented on #40
Any reason to use the plugin for a dev build? Typically this plugin would only be used for production builds.

[2018-06-25 04:03] johannao76 commented on #40
We generate this file during the dev build so that developers know that they are adding an OSS dependency and can include this file as part of their PR. We have special rules to require an OSS approver for changes to the license file. Why wouldn't the above work? If it is a dev dependency, it shouldn't get picked up, right?

[2018-06-26 02:12] xz64 commented on #40
Right now the plugin pretty much looks at any file webpack says was used in the build. Can you share some sample repository showing the specific issue with karma?

[2018-06-27 19:48] bluthen commented on #41
Works well. Nice Job!

[2018-06-27 19:48] #41 closed

[2018-07-05 22:00] binarious opened #42 "Problems with pnpm"
When using the combination of Angular CLI and pnpm I get the following error:
[code]

The owner of pnpm [told me](https://github.com/pnpm/pnpm/issues/767#issuecomment-402837570), that this should this library should not preserve symlinks in order for it to work.

It would be great to get this working with pnpm.

[2018-07-06 00:40] xz64 commented on #35
I pushed changes to the dev branch to resolve the issue. (using cross-env)

[2018-07-06 00:40] #35 closed

[2018-07-06 03:21] xz64 commented on #39
do you have any sample repository where I can see the issue happen? The plugin should only pick up .js files that are used in the build.

[2018-07-06 03:41] xz64 commented on #32
Closing this due to inactivity

[2018-07-06 03:41] #32 closed

[2018-07-08 21:12] xz64 commented on #42
I have put a fix in for the next major release (still in alpha state, version 2.0.0-alpha.5). You can install it using `license-webpack-plugin@next`

[2018-07-08 21:12] #42 closed

[2018-07-13 01:16] xz64 commented on #34
Published this in v2.0.0-alpha.6

[2018-07-13 01:16] #34 closed

[2018-07-13 01:17] xz64 commented on #29
Closing this as there is a published release with this feature

[2018-07-13 01:17] #29 closed

[2018-07-13 01:19] xz64 commented on #40
Dev tools may inject their code into your bundle to support features like live reloading. The plugin just takes whatever webpack is reporting is used in the bundle. The v2 alpha ( https://github.com/xz64/license-webpack-plugin/tree/dev ) has a feature to exclude packages so you may use that

[2018-07-13 01:19] #40 closed

[2018-07-13 01:20] xz64 commented on #39
The plugin just takes whatever webpack is reporting is used in the bundle. The v2 alpha ( https://github.com/xz64/license-webpack-plugin/tree/dev ) has a feature to exclude packages so you may use that

[2018-07-13 01:20] #39 closed

[2018-07-18 23:36] xz64 opened #43 "v2 alpha release feedback"
Please leave your feedback for the v2 alpha release here.
There are breaking changes so please make sure to read the project page and migration guides:

Project page: https://github.com/xz64/license-webpack-plugin/tree/dev
Migration guide: https://github.com/xz64/license-webpack-plugin/blob/dev/MIGRATION.md

[2018-08-19 23:25] SeanHayes commented on #32
I'm currently using 1.4.0 and not seeing this issue anymore.

[2018-08-20 00:21] SeanHayes opened #47 "additionalPackages/additionalModules failed to include package"
With 1.4/2.0.0a, this setting work for several other packages but is failing with the npm font-awesome package. Is there something in it's package.json that would cause it to get skipped?

[2018-08-20 00:49] SeanHayes commented on #30
I tried this config with the 2.0.0 alpha 6:
[code]

The banner doesn't get added to the JS bundle, and in my production buidl, the license.txt file doesn't seem to get generated.

[2018-08-23 09:51] Findus23 commented on #43
Hi,

Just a quick feedback (I haven't used the non-alpha version before, so maybe I am doing something wrong)

It seems like `perChunkOutput` doesn't do anything. When I set it to `false`, I still get multiple `chunkname.licenses.txt` files. And when I add `outputFilename: 'licenses.txt'`, I only get one file, but it only contains the licenses of the (probably) last checked chunk.

[2018-08-23 10:03] Findus23 opened #48 "addBanner and perChunkOutput settings are switched"
Hi,

I found the reason for the bug I mentioned in https://github.com/xz64/license-webpack-plugin/issues/43

The order here is not the same:

https://github.com/xz64/license-webpack-plugin/blob/dbea85760eff6afe90a2a3dd1e24db8fcaa1452b/src/WebpackCompilerHandler.ts#L11-L20

https://github.com/xz64/license-webpack-plugin/blob/dbea85760eff6afe90a2a3dd1e24db8fcaa1452b/src/LicenseWebpackPlugin.ts#L89-L

[2018-08-25 04:06] xz64 commented on #48
Thanks for finding this. I published a fix in v2.0.0-alpha.7

[2018-08-25 04:06] #48 closed

[2018-08-25 04:06] xz64 commented on #43
Thanks, this is fixed in v2.0.0-alpha.7

[2018-08-25 04:16] xz64 commented on #47
I tested font-awesome 4.7.0 and it works fine on both 1.4/2.0.0a. Note that font-awesome does not contain any license file, so you will not see much output in the generated licenses file.

[2018-08-25 04:17] xz64 commented on #30
This was due to a bug where the `addBanner` and `perChunkOutput` options were switched (see #48). I have fixed it in v2.0.0-alpha.7. Please try that out and let me know if you have any issues.

[2018-08-28 01:34] SeanHayes commented on #47
Hmm, seems to be working for me now. Thanks for checking.

[2018-08-28 01:34] #47 closed

[2018-08-28 03:52] SeanHayes commented on #30
Everything seems to be working in v2.0.0-alpha.7, thanks!

[2018-09-04 08:42] tobiasweibel opened #49 "Symlinked node_module folder can't be resolved"
We basically have a docker container that has a node_modules directory somewhere. This directory will be sym-linked into the source directory. Processing that symlink with license-webpack-plugin doesn't work due to the following problem. At
https://github.com/xz64/license-webpack-plugin/blob/f14972b343a0a2641829f786fdc90887120f94ef/src/ModuleProcessor.ts#L18-L20
the existing code simply concatenat

[2018-09-04 14:18] tobiasweibel commented on #49
I've already created some working code. I'll publish that as soon as I get access to my company's fork.

[2018-09-08 14:59] xz64 commented on #49
The change sounds reasonable. I will try it out.

[2018-09-08 16:56] xz64 commented on #49
If your node_modules directory is symlinked into your source directory, couldn't you use a relative path in the `modulesDirectories` option instead? It might help if you can show me the layout of your project (with respect to node_modules directories) as well.

By the way, I removed this path joining logic in the next release (currently in alpha). Could you test that out for me? It should be a lot

[2018-09-19 07:40] tobiasweibel commented on #49
In the meantime I was able to test beta.2. It seems to work with our symlinked node_modules.
I'm almost done with going through internal legal approval so that I can contribute the bugfix back to you for V1.

[2018-09-21 02:34] #49 closed

[2018-09-23 16:37] xz64 commented on #43
2.0.0 is released now

[2018-09-23 16:37] #43 closed

[2018-09-24 12:39] AnderssonChristian opened #51 "Possibility to ignore licenses for dev-dependencies?"
The legal team at my company wants us to list all licenses for all dependencies found in our build (including sub dependencies). However, I also noticed that licenses for our internal tools are also included (like webpack, loaders, linters, etc) - is there a way to ignore those?

[2018-09-24 12:51] xz64 commented on #51
It will be hard to ignore transitive dependencies of devDependencies. If you have any ideas on how to handle that kind of scenario let me know.

For now I would recommend you to just configure the plugin to exclude the packages that you don't want to show up.

[2018-09-24 12:51] #51 closed

[2018-09-24 13:27] AnderssonChristian commented on #51
Is there any way package-lock.json could help with that?

[2018-09-25 02:58] xz64 commented on #51
package-lock.json would help but I foresee a lot of edge/ambiguous cases that could arise due to implementing this

To ignore direct devDependencies, you can do it programmatically via the `excludedPackageTest` option.

[2018-10-08 13:37] codepunkt opened #52 "Compilation modules and chunk parsing"
Hello!

I'm implementing a plugin very much like this for an internal usecase and already have a working version for webpack v3. I'd love to update this to webpack v4, but it seems the way of parsing the included node_modules from the compilation modules that i've used doesn't work anymore.

I've taken a look at your modular approach (mostly `WebpackCompilerHandler`, `WebpackChunkHandler`, `Module

[2018-10-08 14:11] xz64 commented on #52
I couldn't find any API documentation for a lot of the webpack internals. I relied mostly on experimentation and looking at typescript typings files to figure it out.

If you want to detect a package, a less hacky approach I took in v2 of license-webpack-plugin is to keep scanning directories upward until you reach a package.json file. For example, if a file comes from `/a/b/c/d.js`, then the plug

[2018-10-09 05:29] codepunkt commented on #52
My problem is that `module.context` in v4 can be `null`, while in v3 it always referred to the path or directory of the required/imported file before. What i could do with that is simply search this path for `node_modules` strings, and then take the directory after the last `node_modules` string found in the path (e.g. a file `\mnt\d\projects\licensePlugin\node_modules\a\node_modules\b\c.js` belon

[2018-10-09 05:41] codepunkt commented on #52
My question to webpack authors, contributors and maintainers would be:
What is the best hook and the simplest way with that hook to get a list of every `node_module` that is at least partially compiled into the build output (regardless of webpack settings like chunking or others).

[2018-10-10 02:15] #52 closed

[2018-10-19 03:41] shlomiassaf opened #54 "support old package.json license format"
It looks like v2 does not support packages with the old license formats...

This feature was added due to #5
https://github.com/xz64/license-webpack-plugin/blob/v1.5.0/src/LicenseExtractor.ts#L101

Are you planning to support this?

If not, please provide a meaningful error...

For example, I got this error:

[code]

[2018-10-19 03:56] xz64 commented on #54
This was fixed in v2.0.2  (see #53). I had forgotten to update the changelog, but it is updated now. Are you using version 2.0.2?

[2018-10-21 15:44] xz64 commented on #54
Will reopen if it is an issue in 2.0.2. Closing this for now.

[2018-10-21 15:44] #54 closed

[2018-11-07 14:17] jeremejevs opened #58 "@types/webpack-sources"
`@types/webpack-sources` should be a regular dependency, since `dist/WebpackCompilation.d.ts` depends on it. I understand that it's extra weight for non-TS users, but `@types` packages are very lean, and are comparable to having `<package_name>.d.ts` bundled-in weight-wise.

[2018-11-08 04:20] xz64 commented on #58
I wouldn't consider WebpackCompilation as part of the public API for license-webpack-plugin and therefore don't see any need to make the webpack-sources types a direct dependency. Can you explain your use case a bit more?

[2018-11-08 08:29] jeremejevs commented on #58
My Webpack configs are in TypeScript, and if `@types/webpack-sources` is missing, their type-checking fails. Why Webpack and TypeScript? Because why not? It's a convenient way to catch issues early. For example, it has helped with the v1 to v2 migration.

I have no use for it directly, of course, but [it's depended upon by several other modules](https://github.com/xz64/license-webpack-plugin/searc

[2018-11-30 17:08] xz64 commented on #58
Fixed in v2.0.4

[2018-11-30 17:08] #58 closed

[2018-12-01 00:41] jeremejevs commented on #58
Thanks!

[2019-02-15 10:40] solgarius opened #60 "licenseTemplateDir errors on missing license"
I get the below error, crashing webpack when I use the `licenseTemplateDir` option and a license is missing from the directory. It should probably handle this case better and instead fallback to `handleMissingLicenseText` or simply report missing license text.

[code]

[2019-02-23 18:28] xz64 commented on #60
Thanks for reporting this. It is fixed in version 2.1.1

[2019-02-23 18:28] #60 closed

[2019-03-11 16:23] ntdaley opened #61 "TS2322 when using license-webpack-plugin from typescript based webpack config."
When I have a typescript based webpack config, I get the following typescript error from using license-webpack-plugin:

    error TS2322: Type 'LicenseWebpackPlugin' is not assignable to type 'Plugin'.
      Types of property 'apply' are incompatible.
        Type '(compiler: WebpackCompiler) => void' is not assignable to type '(compiler: Compiler) => void'.
          Types of parameters 'compiler

[2019-03-18 13:29] xz64 commented on #61
I wrote my own typings for the webpack API (in order to support multiple versions of webpack) in license-webpack-plugin. I'll see if I can find a way to support typed webpack configs. By the way, what version of `webpack` and `@types/webpack` are you using?

[2019-03-27 03:27] xz64 commented on #61
I couldn't figure out any way to resolve this from my end. Supporting multiple webpack versions gets in the way of fixing this. For now you can just cast to `any` to avoid the issue, e.g. `plugins: [ new LicenseWebpackPlugin() as any ]`

[2019-03-27 03:27] #61 closed

[2019-05-22 18:18] jmoranlosada opened #62 "Licenses File does not show all the included dependencies"
The legal team at my company wants us to list all licenses for all dependencies found in our build (including transitive dependencies). However, the final results has only a few of the total amount existing.

**Package.json**
 "devDependencies": {
    "@babel/plugin-proposal-export-default-from": "^7.2.0",
    "@storybook/addon-a11y": "^4.1.6",
    "@storybook/addon-actions": "^4.1.6",
    "@story

[2019-05-23 12:27] xz64 commented on #62
devDependencies are not included as webpack does not report them as being included in your build output. (i.e. there is no code from the devDependencies that went directly into your build output.) If you really want to add them you can use the additionalModules or additionalChunkModules option (see https://github.com/xz64/license-webpack-plugin/blob/master/DOCUMENTATION.md ).
I am not a lawyer, bu

[2019-05-23 12:27] #62 closed

[2019-08-09 20:38] emmilco opened #63 "LicenseTextReader checks for license template inclusion improperly"
Here, the package constructs the filename using the license type and `.txt`.

https://github.com/xz64/license-webpack-plugin/blob/d749861e28ffccc2b79e2f95f12615520ddb68ae/src/LicenseTextReader.ts#L57

But if we look at `isFileInDirectory` it's treating that filename as resolvable to a full path, which doesn't work out.

https://github.com/xz64/license-webpack-plugin/blob/d749861e28ffccc2b79e2f95f1

[2019-08-12 00:32] xz64 commented on #63
Thank you for the PR. This has been published in v2.1.2

[2019-08-12 00:32] #63 closed

[2019-10-09 12:55] Ansimorph opened #65 "Package name undefined"
I have an angular project with a npm module that includes a package.json. This file does not set a **name**. The plugin picks this up as **undefined** and then adds a line containing the string »**undefined**« to the end of the 3rdpartylicenses.txt.

I would expect the plugin to print nothing instead of **undefined** if there is no license to match the unknown title.

This happens in the context o

[2019-10-11 12:24] xz64 commented on #65
Thanks for the detailed analysis. The plugin assumes that no one names a file package.json unless that file is an actual package.json intended for npm. I will fix it by checking if the file has a "name" property before deciding to use the package.json. If it doesn't have a "name" property, then it will continue to traverse parent directories until it finds a proper package.json in the directory. I

[2019-10-11 13:11] Ansimorph commented on #65
Perfect. Thanks so much for the quick response!

[2019-10-14 01:01] xz64 commented on #65
Fixed in version 2.1.3

[2019-10-14 01:01] #65 closed

[2019-10-23 07:33] PhilippWendler commented on #28
It seems this feature is not available anymore in version 2.0 since the migration to `renderBanner`? Could you please re-add this? That would be great!

[2019-10-23 12:22] xz64 commented on #28
You can write a renderBanner function that does the same thing the old version did.

[2019-11-04 10:49] omerson opened #66 "More modules than dependencies"
Method **renderLicenses** loads all the dependencies modules plus a few more:

is-buffer
process
setimmediate
timers-browserify
vue-loader
vue-style-loader
base64-js
buffer
ieee754
isarray
moment

I am interested to know what is logic behind this? How does it take some of the transitive dependencies and not all?

[2019-11-05 04:24] xz64 commented on #66
It's just pulling whatever webpack said was in the build. Some of these libraries inject small snippets into your bundle or were used to transform code. You can use the excludedPackageTest option ( https://github.com/xz64/license-webpack-plugin/blob/master/DOCUMENTATION.md ) to remove these if you want.

[2019-11-05 04:24] #66 closed

[2019-11-22 09:57] casdevs opened #67 "webpack@5: Error: Module.entryModule: Multiple entry modules are not supported by the deprecated API (Use the new ChunkGroup API)"
When using `license-webpack-plugin@2.1.3` with the new `webpack@5.0.0-beta.7`, the following error occurs:

[code]

callstack:
[code]

my (simplified) webpack config is as follows:
[code]

Most of the other plugins we use simply throw deprecation warnings rather than an error.

Do others have similar problems when using webpack@5?
Are there any plans to test / increase compatibility with the upcom

[2019-11-22 13:22] xz64 commented on #67
I plan to fix the deprecation errors

[2019-11-22 13:36] casdevs commented on #67
thanks, great, highly appreciated!

[2019-11-27 20:16] bennymeg opened #68 "Incompatible types"
Hi,

It seems that `LicenseWebpackPlugin` implements `WebpackPlugin` interface,
but `WebpackPlugin` interface is not compatible with Webpack's `Plugin` abstract class.
Which cause my code to break after i have updated from version 1.5.0 to 2.1.3, is their a way to fix it?

[2019-11-28 00:38] xz64 commented on #67
Looks like the module information is not available during the OptimizeChunkAssets hook via the ChunkGraph API. I may have to look into rewriting major portions of the plugin for webpack 5.

[2019-11-28 00:39] xz64 commented on #68
Looks to be a duplicate of #61, please check there.

[2019-11-28 00:39] #68 closed

[2019-11-29 11:36] casdevs commented on #67
thanks for the feedback, would be great!
If you need help in testing new code, I'm happy to support you if I can.

[2020-03-13 03:18] jasontbradshaw opened #70 "Incorrect type for `IncludeExcludeTest`"
Based on the implementation, it seems that the `include` and `exclude` values in https://github.com/xz64/license-webpack-plugin/blob/d41bf38e94484dd5d848056c91d1ecb764415c9c/src/IncludeExcludeTest.ts, currently typed as single-item tuples containing a string, are in fact supposed to be typed as arrays of strings.

I.e. the type should instead be:

[code]

If I pass these arrays instead of single-i

[2020-03-13 14:54] xz64 commented on #70
Thanks, I have fixed this in v2.1.4

[2020-03-13 14:54] #70 closed

[2020-05-18 11:39] tirolel opened #77 "Problem with thirdparty package (dragscroller)"
Thank you for the great plugin.

I just noticed that I keep getting error when importing this package.
https://www.npmjs.com/package/dragscroll

it throws this error:
"ERROR in WebpackLicensePlugin: Could not find license info for dragscroll@0.0.8"

And here is my config option:
[code]

am I missing something or it is a bug?

[2020-05-18 15:17] xz64 commented on #77
dragscroll is missing a license field in its package.json . However the license for that package appears to be MIT, so you can just add an override to the plugin config like this to fix it:

[code]

[2020-05-18 15:17] #77 closed

[2020-05-18 15:22] tirolel commented on #77
I see.
Thank you once again for the awesome work and fast reply.

[2020-06-08 20:13] silverwind opened #78 "`@types/webpack-sources` should probably be in `devDependencies`"
This module is currently a prod dependency, seems like it's only for dev, right?

[2020-06-08 20:16] silverwind commented on #78
Just saw https://github.com/xz64/license-webpack-plugin/issues/58 so this is probably intentional. Seems very odd still to have it as a runtime dependency, maybe TS integration should be reconsidered.

[2020-06-21 17:59] xz64 commented on #78
It is intentional for those who do webpack configuration in typescript. I agree it's not needed for runtime though.

[2020-06-21 17:59] #78 closed

[2020-07-06 11:15] KatSick opened #81 "perChunkOutput=false and outputFilename does not produce hash in filename"
When using options: `outputFilename=false` and `outputFilename=[hash].licenses.txt` the generated asset does not replace [hash] with actual hash of the file, but just leave it as is.

Simplest repro is to change e2e test `default config works` to:

[code]

And inside `dist` folder the generated file would be `[hash].licenses.txt`, however with `perChunkOutput=true` everything works fine.

Can some

[2020-07-06 14:15] KatSick commented on #81
I found the issue in `WebpackAssetManager` and created a PR #82

[2020-07-07 12:42] KatSick commented on #81
unfortunately, my PR does not work, so the question is still opened

[2020-07-12 14:42] xz64 commented on #81
The idea behind `perChunkOutput: false` is to combine all license info from multiple chunks into one file. Using variables like `[hash]` can only be resolved when passed a chunk context. (The call to `compilation.getPath` API from webpack fills in the `[hash]` and requires chunk context, as shown [here](https://github.com/xz64/license-webpack-plugin/blob/309b905d83ee3699809cf18e213da0ca6f7a2e00/sr

[2020-07-12 15:07] xz64 commented on #81
I was able to fix this by calling `compilation.getPath` using the `compilation` as the context variable.

Fixed in v2.3.0

[2020-07-14 07:35] KatSick commented on #81
@xz64 unfortunately fix in 2.3.0, have same issues as in my PR #38

When you have multiple dependencies and modules `perChunkOutput: false` and `outputFilename: 'licenses.[hash].txt'` it produces a tons of license files with nearly identical content :(

![2020-07-14 at 10 35](https://user-images.githubusercontent.com/13982649/87397873-b4247380-c5bd-11ea-9976-3ce8aac66130.png)

if you need, I can c

[2020-07-17 03:04] xz64 commented on #81
@KatSick When I tried with multiple modules using the configuration you described, it creates only one file as expected. A minimal repro would help. Thanks

[2020-09-04 14:22] tstibbs opened #83 "perChunkOutput causes conflict"
I want all my licences listed in a single file, so I am configuring the plugin like this:
[code]
However my webpack build log now has multiple occurrences of the following warning (approx one warning per chunk):
[code]
This suggests webpack isn't happy with something that license-webpack-plugin is doing. Having said that, my licenses.txt does appear to contain everything it should (but that maybe

[2020-09-13 13:43] xz64 commented on #81
Closing due to inactivity

[2020-09-13 13:43] #81 closed

[2020-09-13 14:03] xz64 commented on #83
Try adding adding `skipChildCompilers: true` to license-webpack-plugin and see if that makes a difference?

[2020-09-14 12:30] tstibbs commented on #83
Well... that does get rid of the warnings, but it also loses three licences from the output file (out of about 53). For my project, the libraries that end up missing from the licenses.txt file are: html-webpack-plugin, css-loader, font-awesome. I'm not quite sure why it's affecting those modules and not others.

If it helps you can see my configuration in context (without the change you suggested

[2020-09-16 23:27] lights0123 commented on #83
For me, it got rid of `css-loader` (which would be ideal, because it isn't included in the bundle), but got rid of dependencies incuded via CSS (typeface-open-sans).

[2020-10-03 13:25] xz64 commented on #83
I have tried to enable html webpack plugin, css-loader and font-awesome on a sample project but could not recreate the error message. If I could get a minimal test case for this it would help.

[2020-10-05 15:24] tstibbs commented on #83
The following is the smallest I can come up with. To reproduce the warning it should be sufficient to do `npm install && npm run build`.

Adding `skipChildCompilers` does get rid fo the error, but also causes the `css-loader` licence to be missed from the licenses.txt.

==============================

app.js:
[code]

==============================

webpack.config.js:
[code]

======================

[2020-10-15 19:53] silverwind opened #84 "webpack 5: optimizeChunkAssets is deprecated"
Using `webpack@5.1.2`:

[code]

Configuration:

[code]

[2020-10-24 13:48] #84 closed

[2020-10-24 13:51] xz64 commented on #84
Fixed in v2.3.1.

[2020-12-04 09:45] fpracht opened #86 "Wrong permissions in NPMJS repository archive"
Hi, I found a somewhat strange thing in the archive which is listed in the NPMJS repository.

I have to unpack the NPM package for an embedded project and I noticed that the permissions for the directories inside the archive are not set correctly.

Since version 2.1.3 it seems that the process has changed a bit. In version 2.1.2 everything looks correct.

The main difference is that the directorie

[2020-12-08 03:38] xz64 commented on #86
At some point I published from Windows instead of Linux. I didn't expect to see this kind of issue. I tried with the latest version of npm in Windows, and it has the same issue. I guess now is a good time to use WSL2 😄 .
I will publish a new version with corrected permissions after I set up WSL2

[2020-12-08 04:29] xz64 commented on #86
Fixed in v2.3.2

[code]

[2020-12-08 04:29] #86 closed

[2020-12-08 17:54] fpracht commented on #86
Thanks. Works for me.

[2020-12-08 19:46] rickysullivan-gallagher opened #87 "Missing `licenseTypeOverides` or typo in documentation"
DOCUMENTATION.md, line ~288 mentions:

I can't find any config options for `licenseTypeOverides`.

[2020-12-09 04:58] xz64 commented on #87
Thanks for checking this. It is a typo and should be `licenseTypeOverrides`.  I have pushed a fix.

[2020-12-09 04:58] #87 closed

[2020-12-14 17:00] alan-agius4 opened #88 "Error: Chunk.modulesIterable There was no ChunkGraph assigned to the Chunk for backward-compat (Use the new API)"
When using license-webpack-plugin@2.3.1 with the Webpack 5.10.1 the following error occurs:

[code]

I'll try to create a minimal reproduction, if needed.

[2020-12-23 11:06] silverwind commented on #67
Any news on this one? I think once it's fixed, this module should be compatible with webpack 5.

[2020-12-23 16:27] xz64 commented on #67
I am working on it

[2020-12-23 17:06] xz64 commented on #67
Fixed in v2.3.3

[2020-12-23 17:06] #67 closed

[2020-12-23 17:06] xz64 commented on #88
@alan-agius4  Can you try with v2.3.3? I have fixed some deprecation warnings from webpack 5 in this version.

[2020-12-23 18:11] xz64 commented on #83
Thanks for this test case. It helped a lot while fixing it. It is fixed in v2.3.4 now

[2020-12-24 00:11] silverwind opened #89 "DeprecationWarning: Compilation.assets will be frozen in future, all modifications are deprecated."
I've seen this one before and you can probably fix it by using `compilation.emitAsset` like I did [here](https://github.com/sindresorhus/add-asset-webpack-plugin/commit/2068887aaa78c127de7027116db7a8858cc6f2b8#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346).

[code]

[2020-12-24 00:58] xz64 commented on #89
This seems to happen when `perChunkOutput: false` is used with webpack 5.
I think your suggestion will cause issue #83 to occur again since it will emit the same asset from multiple different compilations.

The challenge is due to this:
1. Some webpack builds produce multiple compilation objects
2. When perChunkOutput is set to false, the same license file is written multiple times via different c

[2020-12-24 01:07] silverwind commented on #89
Yes, I have `perChunkOutput` disabled. I recall it was to avoid another error related to [child compilers](https://github.com/microsoft/monaco-editor-webpack-plugin). Full config is [here](https://github.com/go-gitea/gitea/blob/87a0396719dc12a19e9876bd4e5ba6ea008072d8/webpack.config.js#L262-L286) for reference.

One think I've also noticed with webpack 5 is that the produced license file shrunk fr

[2020-12-24 01:18] xz64 commented on #89
If perChunkOutput is set to false, I could also write the file just using plain old `fs` module. This is how the plugin worked in versions < 1.x.
What do you think?

[2020-12-24 01:45] silverwind commented on #89
Hmm that would mean it no longer shows up in asset stats, right? Not sure I like that, because it's a nice verification to check the stats if it was written.

[2020-12-24 01:47] silverwind commented on #89
Maybe you can take a hint from https://github.com/microsoft/license-checker-webpack-plugin, it seems to worked fine in my testing in this regard.

[2020-12-24 15:15] xz64 commented on #89
Thanks for the link. For now I reverted the change from #83, so I will reopen #83 and close this one.

[2020-12-24 15:15] #89 closed

[2020-12-24 15:16] xz64 commented on #83
Reopening this issue as the fix caused another issue (issue #89)
The change is reverted in v2.3.5

[2020-12-24 17:31] xz64 commented on #83
@silverwind I have fixed this in v2.3.6. Let me know if you see any issues.

[2020-12-24 17:31] #83 closed

[2020-12-24 17:34] xz64 opened #90 "TypeError: Cannot read property 'tap' of undefined"
This happens when perChunkOutput is set to false and webpack 4 is used.

[2020-12-24 17:38] xz64 commented on #90
Fixed in v2.3.7

[2020-12-24 17:38] #90 closed

[2020-12-24 17:38] xz64 commented on #83
@tstibbs  Please try in v2.3.7. There was one bug in v2.3.6 that prevented it from working on webpack 4.

[2020-12-24 22:34] silverwind commented on #89
Thanks, compilation now works without errors/warnings for me. As for the issue with missing modules, I'm investigating.

[2020-12-24 22:53] silverwind opened #91 "Some dependencies not being detected on Webpack 5"
Not sure if this is really actionable but I noticed some modules are not being detected on Webpack 5 that were found on Webpack4:

- `license-webpack-plugin@2.3.1` on `webpack@4.44.4`
- `license-webpack-plugin@2.3.7` on `webpack@5.11.0`

First, there is `vue` and `vue-loader`, loaded via `import Vue from 'vue'` and for `vue-loader` in webpack config as loader for `.vue` files. Both are present on

[2020-12-25 00:25] xz64 commented on #91
I think the root cause is webpack's optimizing away the context information about ES module imports, so LicenseWebpackPlugin doesn't know where the ES modules came from. I will see if I can add a hook to the parser to catch these imports.

[2020-12-25 04:30] xz64 commented on #91
I fixed it by traversing the webpack stats instead. Please give it a try with v2.3.8
Thanks for your support

[2020-12-25 04:30] #91 closed

[2020-12-25 12:23] silverwind commented on #91
Thanks, can confirm those d3 and vue packages now show up and the output looks very close to before.

Oh, and one more minor thing: Previously `webpack` itself was listed, but it seems gone currently. I guess it should be included because it has a small amount of runtime code for the lazy loading.

[2020-12-25 15:18] xz64 commented on #91
Webpack reports its runtime differently in webpack v5. I have pushed a fix for that too. Try it out in v2.3.9

[2020-12-25 16:45] silverwind commented on #91
Webpack is back in the output, thanks. Seems all my issues are resolved, thanks again.

[2020-12-27 11:03] silverwind opened #92 "Performance regression on Webpack 5"
I noticed the plugins performs considerably worse on Webpack 5 vs. Webpack 4. A build that previously took 4 minutes took over 9 minutes and I've narrowed down the regression to this plugin.

Some of that slowness can be attributed to Webpack 5 which in my testing shows around a 15-20% performance regression compared to Webpack 4, but there certainly seems to be something about this plugin.

[2020-12-27 14:43] xz64 commented on #92
I did not see a significant change in performance during my testing. I suspect it could be to the iteration of stats here https://github.com/xz64/license-webpack-plugin/blob/master/src/WebpackChunkModuleIterator.ts#L23

Can you try removing this portion of code from `node_modules/license-webpack-plugin/dist/WebpackChunkModuleIterator.js` and check the performance?

[code]
I can also try caching th

[2020-12-31 13:12] xz64 commented on #61
I believe it supports webpack 2-5. I'm thinking to drop support for webpack versions which are prior to 4.x in a future major release.

[2020-12-31 17:56] Austaras commented on #61
Well, I just don't think it's worth it. Webpack 3 is already is 3 years old. Glad to hear you're considering to suppport only webpack 4+

[2021-01-04 10:23] tstibbs commented on #83
@xz64 tested with 2.3.9 (the latest at this point) and your change seems to have fixed the error for me and everything still seems to be working - thank you very much.

[2021-01-04 11:18] alan-agius4 commented on #88
Confirmed that it works. Thanks.

[2021-01-04 11:18] #88 closed

[2021-01-05 20:35] davidlday opened #93 "Error: ENOENT: no such file or directory, open '/package.json'"
I'm upgrading from v2.3.1 to v2.3.9 via dependabot, and I'm receiving the error in the title. You can view the whole run via GitHub Actions here: https://github.com/davidlday/vscode-languagetool-linter/pull/233/checks?check_run_id=1651482933

In local testing, the problem starts with v2.3.8. v2.3.7 and prior run just fine. I'm using webpack 5 and I do have `perChunkOutput: true` in my config. Swit

[2021-01-05 20:45] xz64 commented on #93
Thanks for reporting this. I will take a look

[2021-01-07 15:01] xz64 commented on #93
Fixed in v2.3.10

The fix is for the plugin to ignore externals as defined here: https://github.com/davidlday/vscode-languagetool-linter/blob/bd62dbbaadf5170a9302f91ca21571410d3821df/webpack.config.ts#L16

[2021-01-07 15:01] #93 closed

[2021-01-12 02:57] markjm commented on #92
@xz64 thanks for the starting point. I checked out this part of code and determined it to be the issue in our project. I posted a fix in  #94

[2021-01-12 03:54] #92 closed

[2021-01-12 03:57] xz64 commented on #92
Published in v2.3.11

[2021-02-08 20:23] jquense commented on #93
@xz64 we're hitting the same error but in a different context with the latest webpack 5. I can't really narrow down _why_ this is happening, but at some point the plugin is trying to process the app itself as a module. PluginChunkReadHandler is trying to read a package.json for the a module who's directory is `''`, leading to `fs.readFileAsUtf8('/package.json')` which fails.

My best guess is that

[2021-02-11 13:56] abadakhshan opened #95 "Issue with "Angular CLI", "Webpack 5", "Webpack Module Federation" and "LicenseWebpackPlugin""
It seems there is an issue when you are using this combination

"Angular CLI", "Webpack 5", "Webpack Module Federation" and "LicenseWebpackPlugin"

Error log:
[code]

It happens for modules which **directory property** have not been specified on them.
(I think modules that are created with Module Federation)

You can see sample repo [here](https://github.com/NarikMe/narik-pluggable-dashboard-sampl

[2021-02-11 14:52] xz64 commented on #93
@jquense  Someone else also reported same issue, please check issue #95   I will work on a fix.

[2021-02-11 15:27] xz64 commented on #95
@abadakhshan Do you have a simpler test case? The build takes quite long on the repo which you linked, and I am not sure which command to run to reproduce the issue. I tried the commands in the README but didn't run into the error.

[2021-02-11 15:36] jquense commented on #95
I think you may be able to reproduce this with this webpack config:

it assumes two files `index1.js` and `index2.js`
[code]

[2021-02-11 15:41] xz64 commented on #95
@jquense This webpack config doesn't include LicenseWebpackPlugin. Do you have a more complete example?

[2021-02-11 15:47] jquense commented on #95
oops sorry, added it. I can put something more complete together at some point, but i'm a bit short on time right now. The core issue is that you can include "modules" that are local to the root (same would likely apply for federation and maybe DDLs). Here the `initial` chunk is treated like it's a third party dep and the plugin tries to find a package.json for it at `/package.json`

[2021-02-11 15:52] xz64 commented on #95
I tried with the suggested webpack config and didn't run into any error. Please add a full reproducible test case when you have some time. Thanks

[2021-02-11 16:19] abadakhshan commented on #95
Hello @xz64

you can run ng build todo --prod to see the error

[2021-02-11 16:41] xz64 commented on #95
@abadakhshan Thanks, I was able to reproduce the issue from your repo. I will investigate it further.

[2021-02-12 00:40] xz64 commented on #95
Fixed in v2.3.12

[2021-02-12 06:36] abadakhshan commented on #95
Thank you  @xz64
But the issue still exists in my repo.

[getActualFilename](https://github.com/xz64/license-webpack-plugin/blob/f4af707794962905e11eb26787f99df56c54d90a/src/WebpackModuleFileIterator.ts#L33)  returns

`"container entry (default) [["./Viewer",{"import":["./plugins/todo/src/app/viewer/viewer.component.ts"]}],["./Designer",{"import":["./plugins/todo/src/app/designer/designer.componen

[2021-02-12 13:12] xz64 commented on #95
I will look into this

[2021-02-12 14:51] xz64 commented on #95
@abadakhshan  Please try v2.3.13. I was not able to reproduce the issue from your repo, but I have added one check to ignore container entry modules.

[2021-02-12 15:07] abadakhshan commented on #95
Thank you @xz64

The issue was solved with v2.3.13.

[2021-02-12 15:46] #95 closed

[2021-02-12 18:13] jquense commented on #95
@xz64 i'm still hitting this on 2.3.13 not sure why, trying to debug but having a hard time simplifying the case from our app

[2021-02-12 18:58] xz64 commented on #95
@jquense  You can try console.log(filename) in node_modules/license-webpack-plugin/dist/WebpackModuleFileIterator.js in the first line of `WebpackModuleFileIterator.prototype.getActualFilename` . It should log the filename causing the issue before failing.

[2021-02-12 19:06] jquense commented on #95
yeah  while debugging through it, the module is: `'ignored|ws'` which i'm not sure what the source is...

[2021-02-12 20:27] xz64 commented on #95
Are you using [IgnorePlugin](https://webpack.js.org/plugins/ignore-plugin/) by any chance?

[2021-02-12 21:16] jquense commented on #95
As far as i can tell we aren't, but it's possible it's happening indirectly through another plugin.

[2021-02-12 21:23] jquense commented on #95
seems like this identifier format may be relatively dynamic? https://github.com/webpack/webpack/blob/master/lib/NormalModule.js#L273 Might be worth generically splitting on '|' in getActualFilename perhaps?

[2021-02-13 01:18] xz64 commented on #95
@jquense  Can you try adding condition `filename.indexOf('ignored|') === 0 ||` to the first if statement in WebpackModuleFileIterator.prototype.getActualFilename and see if you get any other errors? Thanks

I think `inogred|ws` may be related to some websocket library. Are you using LicenseWebpackPlugin in development builds (e.g. webpack-dev-server) or only in production builds?

[2021-02-19 14:29] xz64 commented on #95
@jquense  I have pushed a fix for the `ignored|ws` error in 2.3.14.

[2021-03-26 10:29] tobiasweibel opened #97 "Issue with Webpack 5, LicenseWebpackPlugin and HtmlWebpackPlugin"
Hi

I try to upgrade Webpack 4 --> 5 and do have an issue with the LicenseWebpackPlugin in combination with HtmlWebpackPlugin.

It looks like that HtmlWebpackPlugin adds a `chunkModule.resource` value that isn't covered/skipped by LicenseWebpackPlugin.

I see the following `chunkModule.resource` value: `"data:text/javascript,__webpack_public_path__ = __webpack_base_uri__ = htmlWebpackPluginPublicP

[2021-03-26 13:57] xz64 commented on #97
Thanks for the report and analysis. This is fixed in v2.3.16

[2021-03-26 13:57] #97 closed

[2021-03-26 16:07] tobiasweibel commented on #97
Thanks for the fix! Seems to work.

[2021-03-29 03:36] markjm opened #99 "Perf issues in larger projects"
More info and a fix in #98.

Not sure on your bookkeeping preference, so making an issue to track it even though PR is already there

[2021-04-11 02:57] xz64 commented on #99
Published in v2.3.17, thanks

[2021-04-11 02:57] #99 closed

[2021-05-21 00:27] andrian2111 opened #101 "Does not add a banner on webpack 5"
Minimal reproduction:

package.json
[code]

app.js
[code]

webpack.config.js
[code]

The output file does not contain the banner described in webpack.config.js.

This problem may be caused by a webpack bug, but I'm not a specialist in this matter. A quick fix is to put the banner generating code outside the webpack hook (https://github.com/xz64/license-webpack-plugin/blob/master/src/WebpackCompile

[2021-05-31 22:59] xz64 commented on #101
It looks like it is an ordering issue. The code which adds a hook to PROCESS_ASSETS_STAGE_ADDITIONS is called inside a hook to PROCESS_ASSETS_STAGE_REPORT. However, PROCESS_ASSETS_STAGE_ADDITIONS is supposed to occur before PROCESS_ASSETS_STAGE_REPORT. That's one part of the problem.

Another problem is that TerserPlugin (which is used automatically in production mode in webpack 5) moves the banne

[2021-05-31 23:59] xz64 commented on #101
Fixed in v2.3.19, but it will require some changes to your webpack configuration. See https://github.com/xz64/license-webpack-plugin/blob/master/DOCUMENTATION.md under the renderBanner section for the type of changes that are needed

[2021-06-01 00:00] #101 closed

[2021-08-10 02:41] wszgrcy opened #104 "when module.resource startsWith `delegated` and throw error"
In this position
![image](https://user-images.githubusercontent.com/9607121/128799993-442256c3-cc7f-4cab-bf04-ef0c16affd36.png)
If I add condition and skip ,can build success
![image](https://user-images.githubusercontent.com/9607121/128800111-caf30773-a60f-4848-adee-14dbec06554a.png)

When I use plugin as follow
[code]
error
[code]

[2021-08-20 12:55] xz64 commented on #104
Thanks for fixing it. published in v2.3.21

[2021-08-20 12:55] #104 closed

[2021-08-31 12:20] neelance opened #106 "incompatible with webpack 5.47.0"
Starting with https://github.com/webpack/webpack/releases/tag/v5.47.0 the plugin throws the error `TypeError: item.node is not a function`.

I think this can be quickly resolved by upgrading the dependency `webpack-sources` to its latest version.

[2021-08-31 12:37] xz64 commented on #106
Yes it does seem to work after upgrading webpack-sources. However I will need to drop support for webpack versions earlier than 4, so this will be a major change. I will update this issue once this is fixed

[2021-09-28 20:45] bryanchen-d commented on #106
Hi @xz64 , any updates on this issue?

[2021-10-02 13:42] xz64 commented on #106
Fixed in v3.0.0 (please note that even though this is a major version change, most builds don't need to change anything. I did not drop support for webpack versions earlier than 5)

[2021-10-02 13:42] #106 closed

[2021-10-04 17:59] bryanchen-d opened #107 "missing webpack-sources in dependencies"
`webpack-sources` is missing from the `dependencies` field of package.json.
In most of the cases it won't block because webpack-sources would be installed by 'webpack', but somehow in my environment webpack install webpack-sources in its nested node_modules (most likely it is because I upgraded webpack).

Also the dependency version of webpack-sources can be updated to webpack-sources^3.0.0, at le

[2021-11-05 16:48] jonnyzzz opened #108 "Add loader to load the generated licenses report"
I'd like to add a licenses page to my site, this means I'd need a specific loader to load the generated `licenses.txt` file to my react app.

[2021-11-08 20:31] markjm opened #109 "Improve pathExists and isDirectory performance once graceful-fs supports it"
Once this change is merged: https://github.com/isaacs/node-graceful-fs/issues/221, stop throwing errors in below places:
https://github.com/xz64/license-webpack-plugin/blob/e70c57b0505792d9316f2a798a151c0262fa8565/src/WebpackFileSystem.ts#L21

https://github.com/xz64/license-webpack-plugin/blob/e70c57b0505792d9316f2a798a151c0262fa8565/src/WebpackFileSystem.ts#L47

Since we expect this can be null,

[2021-11-11 22:34] epelc commented on #107
Please update this. The latest angular v13 production builds do not work without it.

[code]

^ for google by other people looking for this issue

[2021-11-12 04:44] xz64 commented on #107
@bryanchen-d @epelc Can you please try in v4.0.0? I haze include webpack-sources@^3.0.0 as a direct dependency now.

[2021-11-12 04:45] xz64 commented on #108
Someone else had this request before. I believe their solution was to just make an ajax call at runtime to fetch the licenses.txt file and display it in their app. You could try that.

[2021-11-12 04:45] #108 closed

[2021-11-12 13:50] epelc commented on #107
Thanks @xz64 I can confirm 4.0.0 works

[code]

I'll raise an issue with @angular-devkit/build-angular to upgrade the dependency.

[code]

[2021-11-13 14:23] #107 closed

[2021-11-13 19:23] SchnWalter opened #110 "Support inclusion of extra licenses"
It would be nice to have an option to allow **extraLicenses** to be included in the output file. It could either receive a directory where the file names (without extension) would be used as names; or the option could accept a map of name and license file path.

This is particularly useful for MIT where you are required to include the copyright notice when using "significant portions" of a project

[2021-12-10 15:39] wszgrcy opened #111 "plugin will throw error with virtual file"
I create a entry file by use `webpack.EntryPlugin.createDependency` and custom prefix,
![image](https://user-images.githubusercontent.com/9607121/145599788-863ab6de-3aa2-41bc-9d43-a740a9e08fa1.png)
and can resolve by `readResource`
![image](https://user-images.githubusercontent.com/9607121/145599979-87231e81-0acb-47a1-80d4-9690e04322e3.png)
but when use `license-webpack-plugin`, it can find this f

[2021-12-28 13:22] xz64 commented on #110
You can customize the `renderLicenses` option to add additional freeform text to the output

[2021-12-28 13:22] #110 closed

[2022-01-17 14:00] muuvmuuv opened #115 "Type 'LicenseWebpackPlugin' is not assignable to type 'WebpackPluginInstance'."
Our webpack typescript config is throwing the below with this lib. Is it webpack 5 ready yet, or is it just because webpack types aren't used in the lib?

[code]

[2022-01-21 09:44] iorate opened #116 "Licenses of ES modules in concatenated modules are not emitted"
Hello, thank you for this useful plugin.

license-webpack-plugin does not extract licenses of ES modules included in module concatenation with the latest version of webpack 5. The repository to reproduce this issue is here: https://github.com/iorate/license-webpack-plugin-concatenated-modules

webpack concatenates ES modules if possible in production mode, and gives them identifiers of form `javas

[2022-01-22 04:01] xz64 commented on #109
Implemented by @markjm  in #114

[2022-01-22 04:01] #109 closed

[2022-01-28 10:33] fabis94 opened #117 "[Webpack 5] Banner rendered, but license file not created"
It looks like bundles that don't have any npm dependencies still have the license header rendered, even though the license file itself isn't created (due to not having any dependencies). Is this expected?

[2022-01-30 18:10] Leonya opened #118 "Version 4.0.1 doesn't respect the excludedPackageTest option"
I am filtering out some internal packages with no license, in 4.0.1 this stopped working: the packages I've filtered out are still passed to `renderLicenses`.

[2022-01-31 14:01] jquense commented on #118
can confirm

[2022-02-07 14:11] annervisser opened #119 "Version 4.0.1 fails when using dynamic imports"
# 🐞 Bug report

### Is this a regression?

Yes, the previous version in which this bug was not present was: 4.0.0

### Description

When running a production build of Angular with version 13.2.2, it fails with an error after chunk generation completes.
This relates to using a dynamic import of a json file.
The error is: `An unhandled exception occurred: Cannot read properties of undefined (reading

[2022-02-09 17:50] markjm commented on #118
sorry about that - will have a fix shortly

[2022-02-10 13:33] #119 closed

[2022-02-10 13:38] xz64 commented on #119
Fixed in v4.0.2

[2022-02-10 13:38] xz64 commented on #118
Fixed in v4.0.2

[2022-02-10 13:59] Leonya commented on #118
Thank you!

[2022-03-18 13:00] mojoaxel opened #121 "make it possible to define lines in `licenseFileOverrides`"
We needed to define some license-file mappings in the [`licenseFileOverrides` option] because some (old version) of some libs had their license statement not inside a seperate file, but in the README.

So we needed to set something like this:
[code]

This results in the (whole) README to be used as license text.

It would be better is we could define some lines inside a file and only use these lin

[2022-03-18 13:00] mojoaxel commented on #121
We propose this way to implement this:
[code]

[2022-03-18 13:01] mojoaxel commented on #121
Alternatively we could make it more verbose:
[code]

[2022-03-18 13:11] mojoaxel opened #122 "turn off warnings for specific packets"
We have the problem, that a warning is showd during the build step because e.g. `cookie-signature` (an old version) is missing a license file:

[code]

We fixed this by defining `licenseFileOverrides`, but the warning still is showen:
[code]

Even if we overwrite `licenseTextOverrides` like so the warning is still showen:
[code]

**We would like to turn off the warning for this package after we pr

[2022-03-18 16:13] mojoaxel commented on #122
Sorry, this is no bug. The [license-webpack-plugin](https://github.com/xz64/license-webpack-plugin) ended up twice in out webpack config.

If a `licenseTextOverrides` exists for a package the warning disapears :+1:

[2022-03-18 16:13] #122 closed, assigned to nobody

[2022-04-15 20:20] jojomatik opened #123 "License whitelist"
I've seen in the docs that `unacceptableLicenseTest` can be used to blacklist certain licenses.

To be totally safe though I'd like to be able to whitelist certain licenses, so that the build process fails if any other license is found.

Is this possible? Could this be implemented?

[2022-05-23 08:37] StuderAaron opened #124 "ENOENT: No such file or directory, scandir (only on windows)"
I get the following Error, when using the plugin on windows (on linux everything works fine):

[webpack-cli] HookWebpackError: ENOENT: no such file or directory, scandir
    at makeWebpackError (C:\myPath\www\node_modules\webpack\lib\HookWebpackError.js:48:9)
    at C:\myPath\www\node_modules\webpack\lib\Compilation.js:3060:12
    at eval (eval at create (C:\myPath\www\node_modules\tapable\lib\Hoo

[2022-06-07 12:06] williamjacobszoon commented on #124
What I found was that package.json was include as a module. When LicenseTextReader.prototype.readLicense (LicenseTextReader.js) executes it fails as module.directory is an empty string. As the fix I added the below highlighted line.

Not sure whether this is the correct fix.

![image](https://user-images.githubusercontent.com/9082279/172374623-3cc2ebe6-32ab-4fd7-aa5c-2632ab0b0aec.png)

[2022-07-19 21:35] WorldMaker commented on #124
Found an immediate workaround for now:

[code]

(EDIT: Debugged the logic here. Agree with @williamjacobszoon that the inclusion seems to be because of the own module's inclusion [where `module.name ===` to the name in package.json] with a `module.directory === ''`.)

[2022-08-07 19:36] christopherboyd commented on #124
We ran into this issue when using both html-webpack-plugin and license-webpack-plugin in our project.

[2022-10-31 15:57] lokanx commented on #123
You can do that with unacceptableLicenseTest easily, example that breaks the build if a non-white-listed license are found

[code]

I suggest you handle missing licenses in the same way, eg break the build on that as well.

[2022-11-06 21:37] jayaddison opened #126 "Suggestion: adjustment for license filename match"
It seems like `<prefix>-LICENSE.txt` is a not-totally-uncommon format for license filenames; for example: `MIT-LICENSE.txt` or `GPL-LICENSE.txt`.

Perhaps it'd be possible to adjust the filename matching to permit finding more license files.

Figuring out why a license wasn't being found involved a bunch of debugging that pinpointed the regex responsible, so I'll also offer a pull request with a p

[2022-11-07 12:39] stritti commented on #124
Hi @WorldMaker, in which way you found the name of the causing modul?

[2022-11-07 14:57] WorldMaker commented on #124
@stritti I believe I recall that was some old fashioned `console.log` debugging. I think I started with a `return true` in that callback, with a `console.log(packageName)` and started at the bottom of the list until the error went away.

[2022-11-08 01:21] jayaddison commented on #116
Note: in addition to the workaround listed in the linked repository: `webpack` v4 and v5 also support an [`optimization.concatenateModules` option](https://webpack.js.org/configuration/optimization/#optimizationconcatenatemodules) that can be disabled and should allow affected licenses to be (re)discovered as expected.